Xft.dpi: 144

# Term font
urxvt*font: xft:mononoki Nerd Font:size=16:antialias=true, \
            xft:Symbola:pixelsize=14:antialias=true:hinting=slight

urxvt*boldFont: 
urxvt*italicFont: 
urxvt*bolditalicFont: 

urxvt*letterSpace: 0
urxvt*lineSpace: 0

# window setup
urxvt*scrollBar: false
urxvt*transparent: false
urxvt*internalBorder: 10
urxvt*borderLess:false

#include "/home/miuon/.xcolors"
